<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907613423588-e9ev9rrm5qaqn7ohco38ki23uq920f6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907613423588-e9ev9rrm5qaqn7ohco38ki23uq920f6f</string>
	<key>API_KEY</key>
	<string>AIzaSyDYrLY12DjsuUrGJqJdVDkFrjkZ3Gdn_O0</string>
	<key>GCM_SENDER_ID</key>
	<string>907613423588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.battleitout.app</string>
	<key>PROJECT_ID</key>
	<string>bettleitout</string>
	<key>STORAGE_BUCKET</key>
	<string>bettleitout.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907613423588:ios:63711040e2852ca3d129f1</string>
</dict>
</plist>